<div class="playground-container" ng-controller="PageCtrl as pc">
    <h1>Broadcast actions with custom ActionEmitter</h1>
    <p>Simple, separate angular service to track data changes in cases where older apps don't have access to
        EventEmitter, redux, etc.</p>

    <h2>Sibling components</h2>

    <div class="row">
        <div class="col-lg-6">
            <producer event="{{pc.event}}"></producer>
        </div>
        <div class="col-lg-6">
            <consumer event="{{pc.event}}"></consumer>
            <consumer event="{{pc.event}}"></consumer>

            <h3>Consumer initialized later
                <button class="btn btn-primary btn-sm pull-right"
                        ng-click="pc.consumerList.push(pc.consumerList.length)">Add Consumer
                </button>
            </h3>
            <div class="consumer-list">
                <div class="consumer-list-item" ng-repeat="addedConsumer in pc.consumerList track by $index">
                    <button class="btn btn-default btn-sm"
                            ng-click="pc.consumerList.splice($index, 1)">Delete
                    </button>
                    <div class="consumer-list-item--consumer">
                        <consumer event="{{pc.event}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

<h2>Child to parent</h2>
<parent-consumer event="someOtherEvent"></parent-consumer>

<h2>Parent to child</h2>
<parent-producer event="someOtherEvent2"></parent-producer>

</div>
