<div class="vanilla-container" ng-controller="PageCtrl as v">
    <h1>Broadcast actions with angular $rootScope</h1>
    <p>Instead of using <code>ActionEmitter</code>, use angular's built-in <code>$broadcast</code></p>

    <h2>Sibling components</h2>

    <div class="row">
        <div class="col-lg-6">
            <vproducer event="{{v.event}}"></vproducer>
        </div>
        <div class="col-lg-6">
            <vconsumer event="{{v.event}}"></vconsumer>
            <vconsumer event="{{v.event}}"></vconsumer>

            <h3>Consumer initialized later
                <small class="text-danger">[broken]</small>
                <button class="btn btn-default btn-sm pull-right"
                        ng-click="v.consumerList.push(v.consumerList.length)">Add Consumer
                </button>
            </h3>
            <p class="text-danger">Broken on initialization only, when consumer added after action
                triggered. Catches up on subsequent actions.
            </p>
            <div class="consumer-list">
                <div class="consumer-list-item" ng-repeat="addedConsumer in v.consumerList track by $index">
                    <button class="btn btn-default btn-sm"
                            ng-click="v.consumerList.splice($index, 1)">Delete
                    </button>
                    <div class="consumer-list-item--consumer">
                        <vconsumer event="{{v.event}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Child to parent
        <small class="text-danger">[broken]</small>
    </h2>
    <vparent-consumer event="someOtherEvent"></vparent-consumer>

    <h2>Parent to child</h2>
    <parent-producer event="someOtherEvent2"></parent-producer>

</div>
