.playground-container {
}

.nav {
  margin-top: 15px;
}

.bordered {
  border: 1px solid gray;
  padding: 10px;
  margin: 3px;
}

.red {
  color: darkred;
  border-color: red;
}

.green {
  color: darkgreen;
  border-color: green;
}

.blue {
  color: blue;
  border-color: blue;
}