.nav {
  margin-top: 15px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.consumer,
.producer {
  margin: 5px;
}

.consumer-list-container {
  width: 50%;
}

.consumer-list {
  height: 500px;
  overflow-y: scroll;
}

.consumer-list-item {
}

.consumer-list-item--consumer {
  width: 100%;
}