.playground-container {
}

.nav {
  margin-top: 15px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.consumer,
.producer {
  margin: 5px;
}

.consumer-list-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.consumer-list-item--consumer {
  width: 100%;
}

.bordered {
  border: 1px solid gray;
  padding: 10px;
  margin: 3px;
}

.red {
  color: darkred;
  border-color: red;
}

.green {
  color: darkgreen;
  border-color: green;
}

.blue {
  color: blue;
  border-color: blue;
}